<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simulation{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <aside id="sidebar">
        <div class="sidebar-info">
            <h3 class="sidebar-title">Group C</h3>
            <img src="{{ url_for('static', filename='burger-menu-svgrepo-com.svg') }}" alt="mobile menu" class="mobile-menu" onclick="closeNav()">
        </div>
        <a href="{{ url_for('process.index') }}">Operating System</a>
        <!-- <a href="#">DSA</a> -->
    </aside>
    
    <header class="top-bar">
        <div class="header-info">
            <img src="{{ url_for('static', filename='burger-menu-svgrepo-com.svg') }}" alt="mobile menu" class="mobile-menu" onclick="openNav()">
            <h3>Group C</h3>
        </div>
        <div class="course">
            <div class="dropdown">
                <a href="{{ url_for('process.index') }}"><button class="dd-btn">Operating System</button></a>
            </div>
        </div>
    </header>
    
    <main id="content">
        {% block content %}{% endblock %}
    </main>
    
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
</body>
</html>