<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simulation{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <aside id="sidebar">
        <div class="sidebar-info">
            <h3 class="sidebar-title">Group C</h3>
            <img src="{{ url_for('static', filename='burger-menu-svgrepo-com.svg') }}" alt="mobile menu" class="mobile-menu" onclick="closeNav()">
        </div>
        <a href="#">Operating System</a>
        <a href="#">DSA</a>
    </aside>
    
    <header class="top-bar">
        <div class="header-info">
            <img src="{{ url_for('static', filename='burger-menu-svgrepo-com.svg') }}" alt="mobile menu" class="mobile-menu" onclick="openNav()">
            <h3>Group C</h3>
        </div>
        <div class="course">
            <div class="dropdown">
                <button class="dd-btn">Operating System</button>
                <div class="dropdown-content">
                    <a href="">Fast Come First Serve</a>
                    <a href="">Shortest Job first( Non preemptive)</a>
                    <a href="">Shortest Job first(preemptive)</a>
                    <a href="">Round Robbin</a>
                    <a href="">Priority Queues</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dd-btn">Data structures and Algorithms</button>
                <div class="dropdown-content">
                    <a href="">Stacks</a>
                    <a href="">Queues</a>
                    <a href="">Linked lists</a>
                </div>
            </div>
        </div>
    </header>
    
    <main id="content">
        {% block content %}{% endblock %}
    </main>
    
    <script src="{{ url_for('static', filename='myscript.js') }}"></script>
</body>
</html>